# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/resourcepacks
/logs
/PCL
/saves
/shaderpacks
/screenshots
/modernfix
/ct-natives
/crash-reports
.vscode
/defaultconfigs
/lightspeed-cache
/local
/localconfigs
/pachouli_books
/thingpacks
/Xaero*
ct.*
enigmatic_persistence.*
patchouli_data.json
rhino.local.properties
user*
tic4.jar
TrashSlotSaveState.json
tic4.json
options.txt
CTI.jar
cti3.jar
cti3.json
CTI.json
/patchouli_books
/config
/backups
/log4j2.xml
/schematics/uploaded
natives-windows-x86_64
/cti3-natives
/cacher
/hs_err_pid50504.log
servers.dat
servers.dat_old
/hs_err_pid6968.log
/hs_err_pid21912.log
/keybinding presets/initialized.dat
/keybinding presets/preset_to_load_on_first_startup.txt
/replay_pid6968.log
/Package.BakaCoreInfo
/.abnormal
*.disabled
TrashSlotSaveState.json
