# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/resourcepacks
/logs
/PCL
/saves
/shaderpacks
/screenshots
/modernfix
/ct-natives
/crash-reports
.vscode
/defaultconfigs
/lightspeed-cache
/local
/localconfigs
/pachouli_books
/thingpacks
/Xaero*
ct.*
enigmatic_persistence.*
patchouli_data.json
rhino.local.properties
user*
tic4.jar
tic4.json
options.txt
CTI.jar
cti3.jar
cti3.json
CTI.json
/patchouli_books
/config
/backups
/log4j2.xml
natives-windows-x86_64
/cti3-natives
